<div class="container pt-5">
  <h1>Profile</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Personal Information</h5>
          <table class="table">
            <tbody>
              <tr>
                <th>Name</th>
                <td><%= current_user.name %></td>
              </tr>
              <tr>
                <th>Phone Number</th>
                <td><%= current_user.phone_number %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
