<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
        <%= image_tag("logo.png", width: 650, height: 300) %>
    </div>
    <div class="col-md-4">
      <h1>Welcome to Lviv Medical Center</h1>
      <p class="lead">Our mission is to provide the highest quality of medical care to our patients in a compassionate and caring environment. We offer a wide range of medical services, from routine checkups to specialized treatments for more complex health issues.</p>
      <p>If you are in need of medical care, we invite you to explore our website and learn more about our services and our team of highly skilled and dedicated medical professionals.</p>
      <%= link_to "Make an appointment", new_user_session_path, class: "btn btn-white text-white", style: "background-color: #09b9aa;" %>
    </div>
  </div>
</div>
